# For more information: https://laravel.com/docs/sail
version: '3'
services:
    php-fpm: &php-fpm
        build:
            context: .
            dockerfile: ./docker/php/Dockerfile
        env_file:
                - .env.demo
        extra_hosts:
                - 'host.docker.internal:host-gateway'
        volumes:
            - .:/var/www/
            - storage:/var/www/storage/framework/views
        environment:
            PHP_CLI_SERVER_WORKERS: 20
            LOG_CHANNEL: stderr
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
        networks:
            - sail
        depends_on:
            - pgsql
            - redis
            - minio
            - node.test
    php-fpm-migrate:
        <<: *php-fpm
        restart: "no"
        command: >
            sh -c "
                php -r \"copy('https://getcomposer.org/installer', 'composer-setup.php');\" &&
                php composer-setup.php &&
                ./composer.phar install --ignore-platform-reqs &&
                php artisan migrate &&
                php artisan tenant:master login admin@login.notidaas.nl changeit"
        working_dir: /var/www
    nginx:
        image: nginx-idaas
        build: .
        ports:
            - '${APP_PORT:-80}:80'
        environment:
            - NGINX_HOST=login.notidaas.nl
            - NGINX_PORT=80
        volumes:
            - .:/var/www/
        depends_on:
            - php-fpm
        networks:
            sail:
                aliases:
                    - login.notidaas.nl
    node.test:
        env_file:
            - .env.demo
        build:
            context: ./vendor/laravel/sail/runtimes/8.1
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: idaas_node_nl
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '5173:5173'
        environment:
            WWWUSER: '${WWWUSER}'
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        entrypoint: npm run dev
    pgsql:
        image: 'postgres:15.1'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - 'sail-pgsql:/var/lib/postgresql/data'
        networks:
            - sail
        healthcheck:
            test: ["CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USERNAME}"]
            retries: 3
            timeout: 5s
    redis:
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            retries: 3
            timeout: 5s
    minio:
        image: 'minio/minio:latest'
        ports:
            - '${FORWARD_MINIO_PORT:-9000}:9000'
            - '${FORWARD_MINIO_CONSOLE_PORT:-8900}:8900'
        environment:
            MINIO_ROOT_USER: 'sail'
            MINIO_ROOT_PASSWORD: 'password'
        volumes:
            - 'sail-minio:/data/minio'
        networks:
            - sail
        command: minio server /data/minio --console-address ":8900"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
            retries: 3
            timeout: 5s
    createbuckets:
        image: minio/mc
        depends_on:
        - minio
        entrypoint: >
            /bin/sh -c "
            /usr/bin/mc config host add myminio http://minio:9000 sail password;
            /usr/bin/mc rm -r --force myminio/uploads;
            /usr/bin/mc mb myminio/uploads;
            /usr/bin/mc policy set public myminio/uploads;
            exit 0;
            "
        networks:
            - sail
    mailhog:
        image: 'mailhog/mailhog:latest'
        ports:
            - '${FORWARD_MAILHOG_PORT:-1025}:1025'
            - '${FORWARD_MAILHOG_DASHBOARD_PORT:-8025}:8025'
        networks:
            - sail
networks:
    sail:
        driver: bridge
volumes:
    storage:
        driver: local
    sail-pgsql:
        driver: local
    sail-redis:
        driver: local
    sail-minio:
        driver: local
